{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="profile__main">
	<div class="profile__search-box">
		<input
			placeholder="Torrent Name..."
			type="text"
			class="profile__search"
		/>
		<a href="#" class="profile__btn-search btn-tertiary">Search</a>
</div>

<h1 class="heading-quaternary u-margin-bottom-small">My Torrents</h1>
				<div class="profile__torrents">
					<div class="profile__torrent-sort">
						<p class="profile__torrent-title">
							Name
						</p>
						<p class="profile__torrent-date">Date Added</p>
                    </div>
                    
                    <!-- List of torrents -->
					<div class="profile__torrent-list">
						<div id="list-item" class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
						<div class="profile__torrent-list-item">
							<p class="profile__torrent-title">
								Avengers: Endgame
							</p>
							<p class="profile__torrent-date">28/08/2019</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		

{% endblock %}