{% extends 'base.html' %} {% block content %}
<!-- Upload and Search -->

<div class="container upload-search">
  <div class="d-flex flew-row">
    <a href="{% url 'upload' %}" id="upload">
      <button type="button" class="btn btn-outline-primary">
        Dodaj novi Torrent
      </button>
    </a>
    <div class="d-flex flex-row ml-5">
      <form action="{% url 'search' %}" method="POST" class="form-inline">
        {% csrf_token %}
        <input
          name="torrentName"
          class="form-control"
          type="text"
          placeholder="Pretraži Torrente"
          aria-label="Search"
        />

        <label for="genre" class="sr-only">Genres</label>
        <select name="genre" id="genre" class="form-control">
          <option value="all">All</option>
          {% for genre in genres %}
            <option value="{{ genre.pk }}">{{ genre.name }}</option>
          {% endfor %}
        </select>
        
        <button class="btn btn-outline-success" type="submit">Pretraga</button>
      </form>
    </div>
  </div>
</div>

{% include 'partials/_alerts.html' %}

<!-- Torrent List and Information -->

<section id="torrents" class="py-4">
  <div class="container">
    <h1 class="text-center">Rezultati pretrage</h1>
    <div class="row">
      {% if torrents %} {% for torrent in torrents %}
      <div class="col-sm-2 col-lg-4 mb-4">
        <div class="card text-center torrent-preview" style="width: 28em;">
          <h2 class="mb-2 text-center">{{ torrent.title }}</h2>

          <div class="card-body">
            <div class="row mb-2">
              <h3 class="ml-3">Dodao:</h3>
              <h3 class="text-right ml-5">
                {{ torrent.added_by.get_full_name }}
              </h3>
            </div>

            <div class="row mb-2">
              <h3 class="ml-3">Datum:</h3>
              <h3 class="text-right ml-5">{{ torrent.date_added }}</h3>
            </div>

            <div class="row mb-2">
              <h3 class="ml-3 mr-5">Za roditelje?</h3>
              <h3 class="text-right ml-5">
                {% if torrent.for_parents %} Da {% else %} Ne {% endif %}
              </h3>
            </div>

            <div class="row mb-2">
              <h3 class="ml-3 mr-5">Preuzeto:</h3>
              <h3 class="text-right ml-5">
                {% if torrent.is_downloaded %}Da{% else %}Ne{% endif %}
              </h3>
            </div>

            <a href="{% url 'torrent' torrent.id %}" style="font-size: 1.5em;" class="btn btn-primary"
              >Više info</a
            >
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <h1>Nema dodanih Torrenata</h1>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}
