{% extends 'base.html' %} {% block content %}

<div class="container-fluid mt-5">
  <div class="row">
    <div class=" span6 upload-form" style="float: none; margin: 0 auto;">
      <form class="form" action="{% url 'upload' %}" method="POST">
        {% csrf_token %}

        <div class="form__item">
          <label class="form__label" for="torrentTitle">Naziv: </label>
          <input
            class="form__input"
            name="torrentTitle"
            id="torrentTitle"
            type="text"
            placeholder="Naziv Torrenta"
            required
          />
        </div>

        <div class="form__item">
          <label class="form__label" for="torrentLink">Link: </label>
          <input
            class="form__input"
            name="torrentLink"
            id="torrentLink"
            type="text"
            placeholder="Link Torrenta"
            required
          />
        </div>

        <div class="form__item">
          <label class="form__label" for="primarySubtitle"
            >Primarni prijevod:
          </label>
          <input
            class="form__input"
            name="primary_subtitle"
            id="primarySubtitle"
            type="text"
            placeholder="Primarni prijevod"
          />
        </div>

        <div class="form__item">
          <label class="form__label" for="secondarySubtitle"
            >Sekundarni prijevod:
          </label>
          <input
            class="form__input"
            name="secondary_subtitle"
            id="secondarySubtitle"
            type="text"
            placeholder="Sekundarni prijevod"
          />
        </div>

        {% include 'partials/_alerts.html' %}
        <button type="submit" value="Upload" class="btn btn-primary mt-4">Dodaj</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
