{% extends 'base.html' %} {% block content %}

<div class="container-fluid mt-5">
  <div class="row">
    <div class=" span6 upload-form" style="float: none; margin: 0 auto;">
      <form class="form" action="{% url 'upload' %}" method="POST">
        {% csrf_token %}

        <div class="form__item">
          <label class="form__label" for="torrentTitle">Naziv: </label>
          <input
            class="form__input"
            name="torrentTitle"
            id="torrentTitle"
            type="text"
            placeholder="Naziv Torrenta"
            required
          />
        </div>

        <div class="form__item">
          <label class="form__label" for="torrentLink">Link: </label>
          <input
            class="form__input"
            name="torrentLink"
            id="torrentLink"
            type="text"
            placeholder="Link Torrenta"
            required
          />
        </div>

        <div class="form__item">
          <label class="form__label" for="primarySubtitle"
            >Primarni prijevod:
          </label>
          <input
            class="form__input"
            name="primary_subtitle"
            id="primarySubtitle"
            type="text"
            placeholder="Primarni prijevod"
          />
        </div>

        <div class="form__item">
          <label class="form__label" for="secondarySubtitle"
            >Sekundarni prijevod:
          </label>
          <input
            class="form__input"
            name="secondary_subtitle"
            id="secondarySubtitle"
            type="text"
            placeholder="Sekundarni prijevod"
          />
        </div>

        <div class="form__item">
          <label class="form__label" for="parents">Za roditelje</label>
          <input type="checkbox" class="form__input" id="parents" name="parents">
        </div>

        <div class="genres">
          <button id="genres-dropdown" type="button" class="btn btn-lg btn-secondary">Žanrovi</button>
          <div id="genres-table">
            <table class="table table-sm mt-3 table-bordered">
              <tbody>
                <tr>
                  {% for choice in form.genres %}
                    <td>
                      <h4>{{ choice }}</h4>
                    </td>
                      {% if forloop.counter|divisibleby:'5' %}
                        </tr>
                        <tr>
                      {% endif %}
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        {% include 'partials/_alerts.html' %}
        <button type="submit" value="Upload" class="btn btn-primary mt-4">Dodaj</button>
      </form>
    </div>
  </div>
</div>

<script>
  const genres_dropdown = document.getElementById("genres-dropdown");
  var genres_table = false;

  genres_dropdown.onclick = function dropdown() {
    if (genres_table == false) {
      genres_table = document.getElementById("genres-table");
      genres_table.style.display = "block";
    } else {
      genres_table = document.getElementById("genres-table");
      genres_table.style.display = "none";
      genres_table = false;
    }
  }
</script>

{% endblock %}
