*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.heading-primary {
  color: #4BB4DE;
  font-size: 3rem;
  font-weight: 300; }

.heading-secondary {
  color: #4BB4DE;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: .5rem;
  text-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15); }

.heading-tertiary {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15); }

.heading-quaternary {
  color: #696F71;
  font-size: 6rem;
  font-weight: 700;
  margin-left: 10rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-large {
  margin-top: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-menu-item-active {
  background-color: #1e7ea5; }

.btn-primary {
  text-decoration: none;
  color: #ffffff;
  background-color: #4BB4DE;
  display: inline-block;
  padding: 2rem 5rem;
  border-radius: 10rem;
  font-weight: 300;
  font-size: 1.75rem;
  transition: all .2s;
  position: relative; }
  .btn-primary::after {
    content: "";
    display: inline-block;
    background-color: #4BB4DE;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn-primary:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn-secondary {
  text-decoration: none;
  color: #ffffff;
  background-color: #1e7ea5;
  display: inline-block;
  padding: 2rem 6rem;
  border-radius: 10rem;
  font-weight: 300;
  font-size: 1.75rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15); }
  .btn-secondary:hover {
    background-color: #165d7a; }

.landing {
  margin-left: 20rem;
  display: flex;
  flex-direction: row; }
  .landing__left {
    width: 70%; }
  .landing__logo {
    width: 10rem;
    position: relative;
    right: 2.5rem; }
  .landing__form {
    margin-top: 10rem; }
  .landing__input-group {
    margin-bottom: 10rem; }
  .landing__label {
    display: block;
    color: #4BB4DE;
    font-size: 2.5rem;
    margin-bottom: 2rem; }
  .landing__input {
    border: 0;
    font-family: inherit;
    border-bottom: 5px solid #ffffff;
    outline: 0;
    color: #4BB4DE;
    padding: 2rem;
    width: 50rem;
    font-size: 2rem;
    border-radius: .2rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
    transition: border .5s; }
    .landing__input:focus {
      border-bottom: 5px solid #4BB4DE; }
    .landing__input::placeholder {
      color: #8ccfea; }
  .landing__right {
    background-color: #4BB4DE;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%); }
  .landing__photo {
    margin-top: 30rem; }

.dark-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5); }

.profile {
  display: flex;
  flex-direction: row;
  position: relative;
  /***********************************************   MAIN ****************************************************/ }
  .profile__menu {
    width: 35rem;
    background-color: #4BB4DE;
    text-align: center;
    height: 100vh;
    position: relative; }
  .profile__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 3rem; }
  .profile__logo-img {
    width: 10rem; }
  .profile__logo-title {
    align-self: center; }
  .profile__avatar {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .profile__avatar-img {
    width: 7rem;
    border-radius: 100px;
    margin-right: 2rem; }
  .profile__username {
    align-self: center;
    color: #ffffff;
    font-size: 2rem; }
  .profile__nav {
    margin-top: 4rem; }
  .profile__nav-item {
    display: block;
    text-decoration: none;
    width: 100%;
    color: #ffffff;
    font-size: 3rem;
    padding: 2rem; }
    .profile__nav-item:hover {
      background-color: #1e7ea5; }
  .profile__btn-logout {
    display: block;
    text-decoration: none;
    width: 100%;
    color: #ffffff;
    font-size: 3rem;
    padding: 2rem;
    position: absolute;
    bottom: 0; }
    .profile__btn-logout:hover {
      background-color: #1e7ea5; }
  .profile__main {
    background-color: #ffffff;
    width: 100%;
    height: 100vh; }
  .profile__search-box {
    margin-top: 7rem;
    margin-left: 25rem;
    margin-bottom: 7rem; }
  .profile__search {
    border: 0;
    background-color: #F4F8F7;
    color: #A5A9A8;
    outline: 0;
    width: 60%;
    font-size: 3rem;
    padding: 2rem 4rem;
    border-radius: 1rem;
    font-weight: 300; }
    .profile__search:focus {
      background-color: #eef4f2; }
    .profile__search::placeholder {
      color: #A5A9A8; }
  .profile__btn-search {
    text-decoration: none;
    color: #A5A9A8;
    background-color: #F4F8F7;
    font-size: 3rem;
    padding: 2rem 5rem;
    border-radius: 1rem;
    margin-left: 2rem; }
    .profile__btn-search:hover {
      background-color: #eef4f2; }
  .profile__torrents {
    background-color: #ffffff;
    color: #A5A9A8; }
  .profile__torrent-sort {
    border-bottom: 1px solid #A5A9A8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 10rem; }
  .profile__torrent-list {
    overflow-y: scroll;
    max-height: 60vh; }
  .profile__torrent-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 10rem;
    border-bottom: 1px solid #F4F8F7; }
    .profile__torrent-list-item:hover {
      cursor: pointer;
      background-color: #f7faf9; }
  .profile__torrent-title {
    font-size: 2.5rem;
    font-weight: 400; }
  .profile__torrent-date {
    font-size: 2.5rem;
    font-weight: 300;
    color: #A5A9A8; }

.torrents {
  display: flex;
  flex-direction: row;
  /***********************************************   MAIN ****************************************************/ }
  .torrents__menu {
    width: 35rem;
    background-color: #4BB4DE;
    text-align: center;
    height: 100vh;
    position: relative; }
  .torrents__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 3rem; }
  .torrents__logo-img {
    width: 10rem; }
  .torrents__logo-title {
    align-self: center; }
  .torrents__avatar {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .torrents__avatar-img {
    width: 7rem;
    border-radius: 100px;
    margin-right: 2rem; }
  .torrents__username {
    align-self: center;
    color: #ffffff;
    font-size: 2rem; }
  .torrents__nav {
    margin-top: 4rem; }
  .torrents__nav-item {
    display: block;
    text-decoration: none;
    width: 100%;
    color: #ffffff;
    font-size: 3rem;
    padding: 2rem; }
    .torrents__nav-item:hover {
      background-color: #1e7ea5; }
  .torrents__btn-logout {
    display: block;
    text-decoration: none;
    width: 100%;
    color: #ffffff;
    font-size: 3rem;
    padding: 2rem;
    position: absolute;
    bottom: 0; }
    .torrents__btn-logout:hover {
      background-color: #1e7ea5; }
  .torrents__main {
    background-color: #ffffff;
    width: 100%;
    height: 100vh; }
  .torrents__search-box {
    margin-top: 7rem;
    margin-left: 25rem;
    margin-bottom: 7rem; }
  .torrents__search {
    border: 0;
    background-color: #F4F8F7;
    color: #A5A9A8;
    outline: 0;
    width: 60%;
    font-size: 3rem;
    padding: 2rem 4rem;
    border-radius: 1rem;
    font-weight: 300; }
    .torrents__search:focus {
      background-color: #eef4f2; }
    .torrents__search::placeholder {
      color: #A5A9A8; }
  .torrents__btn-search {
    text-decoration: none;
    color: #A5A9A8;
    background-color: #F4F8F7;
    font-size: 3rem;
    padding: 2rem 5rem;
    border-radius: 1rem;
    margin-left: 2rem; }
    .torrents__btn-search:hover {
      background-color: #eef4f2; }
  .torrents__torrents {
    background-color: #ffffff;
    color: #A5A9A8; }
  .torrents__torrent-sort {
    border-bottom: 1px solid #A5A9A8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 10rem; }
  .torrents__torrent-list {
    overflow-y: scroll;
    max-height: 60vh; }
  .torrents__torrent-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 10rem;
    border-bottom: 1px solid #F4F8F7; }
    .torrents__torrent-list-item:hover {
      cursor: pointer;
      background-color: #f7faf9; }
  .torrents__torrent-title {
    font-size: 2.5rem;
    font-weight: 400; }
  .torrents__torrent-date {
    font-size: 2.5rem;
    font-weight: 300;
    color: #A5A9A8; }

/***********************************************   UPLOAD ****************************************************/
